@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

[data-theme="dark"] {
  --text-color: #E0E0E0;
  --background-color: #0A0F24;
  --primary-color: #D4AF37;
  --secondary-color: #BB2D3B;
  --accent-color: #1E90FF;
}

[data-theme="light"] {
  --text-color: #0A0F24;
  --background-color: #F5F5F5;
  --primary-color: #C89D29;
  --secondary-color: #A3222D;
  --accent-color: #0056B3;
}

html {
  font-size: 18px;
}

body {
  font-family: 'Antonio', sans-serif;
  margin: 0;
}

.themeWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100vw;
  height: 100%;
}

.mainContainer {
  display: flex;
  gap: 8vw;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}